<footer class="footer">
  <small>
	<%= image_tag("footer.png", :size => "528x66") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://gueforum.wordpress.com">Blog</a></li>
    </ul>
  </nav>
</footer>